html{
  height: 100vh;
  width: 100%;
}
body {
  height: 100%;
  background: url("bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

a{ color: #fff; 
  font-size: 1rem; }
a:hover{
  text-decoration: underline;
}

.menu:hover{
  color: #fff;
  background-color: ccc;
}
.info {color: #fff;}
.foot{color:#000;}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}